* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Shafqat";
    src: url(../assets/fonts/Li\ Shohid\ Shafkat\ Samir\ Unicode.ttf);
}
@font-face {
    font-family: "Tamin";
    src: url(../assets/fonts/Li\ Shohid\ Tahmid\ Tamin\ Unicode.ttf);
}

/* navbar started */
header {
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    padding: 20px 70px;
    background-color: white;
    box-shadow: 0 -30px 30px 30px #00640060;

    font-size: 32px;
    color: darkgreen;
}

.logo {
    font-size: 56px;
    text-shadow: 3px 3px 8px #00640040;
}

.middle-nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav a, .middle-nav a {
    text-decoration: none;
    color: #006400;
}
/* navbar end */



/* sign up started */
.sign-up-box-container {
    height: 90vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    width: 50%;
    border: 1px solid #00640020;
    border-radius: 20px;
    padding: 100px;

    /* background-color: #faebd740; */
    box-shadow: 5px 5px 30px 8px #00640020;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* align-items: center; */
    
}

.sign-up-box input,
.sign-up-box button {
    border: 2px solid #00640020;
    border-radius: 10px;
    padding: 8px 20px;
    box-shadow: 5px 5px 10px #00640020;

    font-size: 24px;
    font-weight: 200;
    font-family: "Raleway", sans-serif;
}

.sign-up-box input:focus {
    outline: none;
    border: 2px solid #006400;
    /* transition: 0.5s; */
}
/* sign up end */


/* calender started */
.calender-box-container {
    height: 90vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Raleway", sans-serif;
}
.calender-title {
    font-size: 48px;
    font-weight: 600;
    color: #006400;
    text-shadow: 2px 2px 10px #00640020;
    margin-bottom: 30px;
    /* font-family: "Shafqat", sans-serif; */
}
.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 15px;
    column-gap: 30px;
}
.day,
.date {
    padding: 20px 30px;
    border: 1px solid #00640020;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00640020;

    text-align: center;
}
.date {
    background-color: #00640010;
    color: #006400;
    font-size: 24px;
    font-weight: 400;
}
.date:hover {
    border: #006400 solid 1px;
    box-shadow: 3px 3px 18px #00640060;
    transition: 0.5s;
    background-color: #00640030;
    cursor: pointer;
}
.day {
    background-color: #00640020;
    color: #006400;
    font-weight: 200;
    font-size: 18px;
}
.other-month {
    color: #00640060;
}

/* shared style */
.page-active {
    text-shadow: 2px 2px 15px #00640080;
    /* color: rgb(20, 1, 108) !important; */
    text-decoration: underline;
}

.hidden {
    display: none;
}